@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html, body, .container, .header {
  height: 100%; }

body {
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0 auto;
  color: #666;
  width: 100vw;
  font-family: 'Lato';
  font-weight: lighter;
  line-height: 2; }

/* Header */
.header {
  position: relative;
  margin: 0 auto;
  min-height: 560px;
  width: 100%; }

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%; }

.title {
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1.25em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.title h1 {
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 800;
  font-size: 3.25em;
  margin: 0 auto;
  text-shadow: 0px 1px 10px #666; }

.title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0 auto; }

.title h1,
.title p.subline {
  line-height: 1; }

.title p.subline {
  font-size: 1.75em; }

/* Trigger Button */
button.trigger {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
  font-weight: 700; }

.container:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s; }

.container.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  padding: 0.8em;
  width: 300%;
  color: #fff;
  content: attr(data-info);
  font-size: 0.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-shadow: 1px 1px 1px #666; }

button.trigger:focus {
  outline: none; }

button.trigger span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%; }

button.trigger span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  content: "ⓥ";
  text-transform: none;
  font-size: 1em;
  font-variant: normal;
  font-family: 'lato';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Conent */
.content {
  margin: 0 auto;
  padding: 0 0 3em; }
  .content ul {
    font-size: 1rem; }
  .content h4 {
    font-size: 1rem; }

.content > div:not(.title) {
  margin: -80px auto 0;
  max-width: 950px;
  padding: 0 1.25em; }

.content > div:not(.title) p {
  margin: 0 auto 1.5em auto;
  font-size: 1em;
  text-align: justify; }

.content > div:not(.title) p:first-child {
  font-size: 1.35em; }

.content h3 {
  margin: 15px 0;
  font-size: 1.8rem;
  color: #a090e2;
  text-transform: uppercase;
  font-weight: 700; }

.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: 'Lora', serif;
  line-height: 1.4; }

.content blockquote::before {
  content: '\201C'; }

.content blockquote::after {
  content: '\201D'; }

/* -------------------------- */
/* Content Style */
/* -------------------------- */
.intro {
  font-size: 1.2em;
  text-align: justify;
  font-weight: 300; }

.abstract {
  background: #f2f2f2;
  height: 100%;
  padding: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border-bottom: 3px solid #666;
  font-family: 'Lato';
  font-size: .9em;
  letter-spacing: 1px; }
  .abstract div {
    margin: 0 2em; }
  .abstract h5 {
    font-weight: 800;
    font-size: 1em;
    color: #333; }

.img_p {
  width: 100%; }

.img_d {
  width: 150px; }

.video_demo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 98%;
  padding: 10px; }
  .video_demo video {
    width: 20%;
    height: 25%;
    box-shadow: 0px 8px 15px #ccc; }

hr {
  border: 0;
  height: 0;
  border-top: 2px solid #f2f2f2; }

h4 {
  color: #a090e2;
  font-weight: 600; }

h6 {
  text-align: center;
  color: #999;
  font-weight: 100;
  font-size: 0.8em;
  padding-bottom: 2em; }

/* -------------------------- */
/* Faded gradient */
/* -------------------------- */
.intro-effect-fadeout:not(.notrans) .bg-img {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.intro-effect-fadeout:not(.notrans) .bg-img::after {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.intro-effect-fadeout:not(.notrans) .header h1 {
  -webkit-transition-property: color;
  transition-property: color;
  font-size: 4em;
  font-family: 'Lato'; }

.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.intro-effect-fadeout:not(.notrans) .bg-img,
.intro-effect-fadeout:not(.notrans) .bg-img::after,
.intro-effect-fadeout:not(.notrans) .header h1,
.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.intro-effect-fadeout .header {
  overflow: hidden; }

.intro-effect-fadeout.modify .bg-img {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%); }

.intro-effect-fadeout .bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.intro-effect-fadeout.modify .bg-img::after {
  opacity: 1; }

.intro-effect-fadeout .title {
  text-align: left;
  max-width: 900px; }

.intro-effect-fadeout.modify .header h1,
.intro-effect-fadeout .header p {
  color: #a090e2;
  text-shadow: 0px 0px 0px #fff; }

.intro-effect-fadeout .header p {
  opacity: 0; }

.intro-effect-fadeout .header p:nth-child(2) {
  -webkit-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px); }

.intro-effect-fadeout .header p:nth-child(3) {
  -webkit-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transform: translateX(-150px); }

.intro-effect-fadeout.modify .header p:nth-child(2),
.intro-effect-fadeout.modify .header p:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.intro-effect-fadeout .content {
  z-index: 1000;
  position: relative; }

.intro-effect-fadeout .content > div {
  opacity: 0;
  -webkit-transform: translateY(350px);
  -ms-transform: translateY(350px);
  transform: translateY(350px); }

.intro-effect-fadeout.modify .content > div {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

/* Media Queries */
@media screen and (max-width: 47em) {
  p {
    font-size: 1em; }
  .codrops-demos a {
    font-size: 80%; } }

@media screen and (max-width: 27em) {
  .title {
    left: 55%; }
  button.trigger::before {
    display: none; }
  .abstract {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0; } }
