@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', serif;
  font-weight: 200;
  margin: 0 auto;
  letter-spacing: 1px; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.top {
  line-height: 2.5em;
  font-size: .8em;
  text-transform: uppercase;
  z-index: 9;
  position: fixed;
  width: 100vw;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: 400; }
  .top img {
    height: 1.2em;
    vertical-align: baseline;
    padding-top: 5px; }
  .top span.right {
    float: right;
    padding-right: 1em; }

.top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  text-shadow: 0 -1px 0 #fff;
  display: inline-block;
  text-decoration: none;
  webkit-transition-property: background-color, #000; }
  .top a .svg_icon {
    height: 1em;
    width: 1em;
    transition: color 0.5s ease;
    transition: all .2s ease-in-out;
    fill: currentColor;
    color: #000; }

.top a:hover {
  transition-property: background-color, #ff3399;
  background: rgba(255, 255, 255, 0.8);
  color: #a090e2; }
  .top a:hover .svg_icon {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: #a090e2; }

header {
  padding: 2em 1em 4em;
  text-align: center; }

h1 {
  margin: 0.5em 0 0 0;
  font-size: 3em;
  line-height: 1;
  font-weight: normal;
  color: #a090e2; }

h1 span {
  display: block;
  padding: 0.5em 0 1em;
  color: #ccc;
  font-style: italic;
  font-size: .4em;
  letter-spacing: 0;
  font-family: 'Alto'; }

main {
  column-width: 250px;
  column-gap: 0px;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  -webkit-column-width: 250px;
  -webkit-column-gap: 0px;
  -moz-column-width: 250px;
  -moz-column-gap: 0px; }
  main figure {
    width: 260px;
    padding: 15px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
    margin: 15px; }
    main figure img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px; }
    main figure figcaption {
      font-size: .9em;
      color: #666; }
  main:hover figure:not(:hover) {
    opacity: 0.4; }
  main:hover figure:hover {
    color: #00a9e0;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }
    main:hover figure:hover.filter {
      -webkit-filter: none; }

.lightbox {
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100vh; }
  .lightbox img {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block; }
  .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee; }

.container {
  width: 60vw;
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
  color: #666;
  margin-bottom: 5em;
  line-height: 2em; }
  .container li {
    line-height: 2em; }
  .container .intro {
    font-size: 1.2em;
    text-align: justify;
    line-height: 2em;
    font-weight: 300;
    color: #333; }
  .container .img_p {
    width: 100%;
    padding-top: 1em; }
  .container .img_d {
    width: 160px; }
  .container a {
    color: #666;
    text-decoration: none;
    font-style: italic; }
    .container a:hover {
      text-decoration: underline;
      color: black; }
  .container .abstract {
    background: #eee;
    height: 100%;
    padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    border-bottom: 3px solid #666;
    font-family: 'Lato';
    font-size: .9em;
    letter-spacing: 1px; }
    .container .abstract div {
      margin: 0 2em; }
    .container .abstract h5 {
      font-weight: 800;
      font-size: 1em;
      color: #333; }

/* works grid*/
figure.effect-ming {
  background: linear-gradient(45deg, #7db9e8 0%, #fff 100%); }

figure.effect-ming img {
  opacity: .8;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  background: #fff; }

figure.effect-ming:hover {
  background: linear-gradient(45deg, #bc2ce0 0%, #7db9e8 100%); }

figure.effect-ming figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1); }

h8 {
  display: block;
  width: 100vw;
  color: #999;
  font-size: 1em;
  font-style: italic; }

figure.effect-ming h2 {
  margin-top: 80%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  color: #fff;
  font-size: 2em;
  padding-top: 4vh;
  text-shadow: 0px 0px 10px #000;
  padding-bottom: 0px; }

figure.effect-ming p {
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: #fff; }

figure.effect-ming:hover h2 {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

figure.effect-ming:hover figcaption {
  background-color: rgba(58, 52, 42, 0); }

figure.effect-ming:hover img {
  opacity: 0.4;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

/* Common style */
.grid {
  padding-top: 5vh;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 10vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 15px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*btn*/
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: linear-gradient(45deg, #a4e4f4 3%, #c595d8 98%);
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn-4 {
  border-radius: 5px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden; }

.btn-4:active {
  border-color: #fff;
  color: #fff; }

.btn-4:hover {
  background: linear-gradient(135deg, #c595d8 0%, #a4e4f4 100%); }

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn-4:active:before {
  color: #fff; }

.btn-4c:before {
  left: 70%;
  opacity: 0;
  top: 0; }

.btn-4c:hover:before {
  left: 80%;
  opacity: 1; }

.icon-arrow-right:before {
  content: "-"; }

hr {
  border: 0;
  height: 0;
  border-top: 2px solid #f2f2f2; }

.share {
  width: 60vw;
  text-align: center;
  padding: 5em;
  margin: 0 auto;
  color: #999; }
  .share img {
    width: 1.5em; }

h2 {
  text-align: center;
  color: #999;
  font-weight: 100;
  font-size: 0.8em;
  padding-bottom: 2em; }

h3 {
  font-size: 1.8em;
  color: #a090e2;
  text-transform: uppercase; }

.noscroll {
  overflow: hidden;
  max-height: 100vh; }

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 19999;
  top: 0;
  right: 0;
  background: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  white-space: nowrap; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .sidenav a {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #a090e2; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video_demo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 10px; }
  .video_demo video {
    width: 20%;
    height: 25%;
    box-shadow: 0px 8px 15px #ccc; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 1025px) {
  .grid {
    width: 65vw; } }

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .container {
    width: 90vw; }
  .grid {
    width: 90vw; } }

@media screen and (max-width: 750px) {
  main {
    margin: 0;
    -moz-column-gap: 0px;
    column-gap: 0px;
    -webkit-column-gap: 0; }
    main figure {
      width: 100%;
      pointer-events: none; }
  .lightbox {
    height: 100%;
    position: fixed; }
  header {
    padding: 2em 1em; }
  .container {
    width: 90vw;
    overflow: hidden; }
    .container img {
      width: 100vw; }
    .container .img_d {
      width: 40vw; }
    .container .intro {
      line-height: 2em;
      font-size: 1.2em;
      text-align: left; }
    .container .abstract {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      margin: 0; }
  .grid {
    margin: 0 auto;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100vw;
    overflow: hidden; }
  .grid figure {
    width: 98vw;
    max-height: 300px; }
  h8 {
    text-align: center; } }

@media screen and (max-width: 320px) {
  .grid {
    width: 100vw;
    overflow: hidden; }
  .grid figure {
    width: 98vw;
    max-height: 300px; } }

@media only screen and (max-width: 746px) and (orientation: landscape) {
  .grid {
    width: 100vw;
    overflow: hidden; }
  .grid figure {
    width: 48vw;
    max-height: 280px; } }
