@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: url(../images/index/bkg2.png);
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-family: 'Lato';
  display: flex;
  align-items: center;
  flex-direction: column;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 0 20px white inset;
}

#container {
  z-index: 8000;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#container #info {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  margin-left: auto;
  line-height: 2em;
}

#container #info h1 {
  margin-right: auto;
  font-size: 3em;
  text-shadow: 1px 1px 1px #fff;
}

#container #info h2 {
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#container #info h1, #container #info h2 {
  Color: #00a9e0;
}

#container main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 4em;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  line-height: 1.5;
  transition: all 0.5s ease;
}

.link:hover {
  color: rgba(255, 174, 123, 0.4);
}

.link::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  left: 0;
  background: #00a9e0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover::after {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.link::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.4s 0.3s;
  transition: width 0.4s 0.3s;
}

.link:hover::before {
  width: 100%;
}
