@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  background: #9DB9CB;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-family: 'Lato'; }
  body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/index/bkg.jpg);
    background-size: cover; }

.large-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url("../images/index/bkg.jpg"); }

#con {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 8000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#container {
  width: 90vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #container #info {
    padding: 40px;
    line-height: 2em; }
    #container #info h1 {
      margin-right: auto;
      font-size: 2em;
      text-shadow: 1px 1px 1px #fff; }
    #container #info h2 {
      font-weight: 300;
      font-size: 1.2em;
      letter-spacing: 1px; }
    #container #info h1, #container #info h2 {
      Color: #00a9e0; }
    #container #info .social {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-top: 1px solid #ccc;
      padding-top: 1em; }
      #container #info .social img {
        width: 24px; }
  #container main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  line-height: 1.5;
  transition: all 0.5s ease; }

.link_detail, .link_detail:visited, .link_detail:active {
  color: #000;
  font-weight: 100;
  text-decoration: none; }

.link_detail:hover {
  font-weight: 400;
  color: #000; }

@media screen and (min-width: 901px) {
  .large-header {
    box-shadow: 0 0 0 20px white inset; }
  #container {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #container main {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: 30vh;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    #container #info {
      background: rgba(255, 255, 255, 0.6);
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
  .link {
    font-size: 1.5em;
    transition: all 0.5s ease;
    color: white; }
    .link:hover {
      color: rgba(255, 174, 123, 0.4); }
    .link::after {
      content: '';
      position: absolute;
      height: 16px;
      width: calc(100% + 1px);
      top: 50%;
      margin-top: -8px;
      left: 0;
      background: #00a9e0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    .link:hover::after {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
    .link::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: #424242;
      white-space: nowrap;
      width: 0%;
      -webkit-transition: width 0.4s 0.3s;
      transition: width 0.4s 0.3s; }
    .link:hover::before {
      width: 100%; } }

@media screen and (max-width: 900px) {
  body::before {
    box-shadow: none; }
  #container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    #container main {
      height: calc(60vh - 100px);
      text-align: center;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #container .link_detail {
      color: #fff; } }

@media screen and (min-width: 578px) and (max-width: 900px) {
  .link {
    font-size: 3em; }
  .link_detail {
    color: #fff; } }

@media screen and (max-width: 576px) {
  .link {
    font-size: 1.5em; }
  .link_detail {
    color: #fff; } }
