@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #666;
  padding: 20px;
}

body > header {
  height: 80px;
  border-bottom: 1px #ccc solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: "Lato";
  font-weight: 700;
  line-height: 80px;
  background: #ff5e00;
}

iframe {
  width: 100vw;
  height: calc(100vh - 80px);
  border: 0px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #ff5e00;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ff5e00;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff5e00;
}

p, ul {
  font-size: 1em;
  line-height: 2em;
}

a {
  text-decoration: none;
}

ul, li {
  padding-left: 10px;
}

section {
  margin-bottom: 50px;
}

article, .intro {
  display: none;
}

.intro {
  padding-top: 80px;
}

.show {
  display: block;
}

table {
  width: 95%;
}

#container {
  margin: 0 auto;
}

#container nav {
  border: 1px #eee solid;
  border-radius: 10px;
  width: 160px;
  overflow: hidden;
  position: fixed;
  box-shadow: 1px 1px 1px 1px #eee;
  background: rgba(255, 255, 255, 0.9);
}

#container nav ul, #container nav li {
  padding-left: 10px;
  list-style: none;
  color: #666;
  font-weight: 700;
  line-height: 32px;
}

#container nav a {
  text-decoration: none;
  color: #999;
  font-weight: 400;
  display: block;
}

#container nav a:hover {
  color: #ff5e00;
  font-weight: 700;
}

#container nav a.active {
  color: #ff5e00;
}

#container main img {
  max-width: 100%;
  display: block;
}

.img_bg {
  background: #333;
  display: block;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.img_bg img {
  max-width: 80%;
}

#brand .ul_flex {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
}

#brand .ul_flex li {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  color: #999;
  font-size: 0.8em;
}

#brand .ul_flex li .svg_logo_1 {
  width: 200px;
}

#brand .ul_flex li .svg_logo_2 {
  width: 250px;
}

#brand .ul_flex li .svg_logo_3 {
  width: 250px;
}

#brand .ul_flex .li_1 {
  border: 1px solid #ccc;
  padding: 20px;
}

#brand .ul_flex .li_2 {
  background: black;
  border: 1px solid #000;
  padding: 20px;
}

#brand figure {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
}

#brand figure figcaption {
  color: #999;
  font-size: 0.8em;
}

@media screen and (max-width: 479px) {
  #brand .ul_flex li {
    margin: 10px 0;
  }
  #brand .ul_flex li img {
    width: 60%;
  }
  #brand figure img {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  #brand .ul_flex li {
    width: 45%;
    margin: 0 10px;
  }
  #brand .ul_flex li img {
    width: 60%;
  }
  #brand figure img {
    width: 80%;
  }
}

#logo table, #trademark table, #logotype table {
  border-collapse: separate;
  border-spacing: 20px;
}

#logo table td, #trademark table td, #logotype table td {
  text-align: center;
  color: #ccc;
}

#logo table tr:nth-of-type(1) td, #trademark table tr:nth-of-type(1) td, #logotype table tr:nth-of-type(1) td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

#trademark table td:nth-of-type(2), #logotype table td:nth-of-type(2) {
  background: black;
  border: 1px solid black;
}

#forms ol, #forms ul, #forms li, #btn ol, #btn ul, #btn li, #typo ol, #typo ul, #typo li {
  padding-left: 10px;
}

#forms ol > li, #btn ol > li, #typo ol > li {
  font-weight: 700;
  line-height: 1em;
  padding-top: 15px;
  color: #333;
}

#forms ol > li p, #btn ol > li p, #typo ol > li p {
  color: #666;
  font-weight: 400;
  margin-top: 10px;
}

#forms ul, #btn ul, #typo ul {
  list-style-type: none;
}

#forms .section, #btn .section, #typo .section {
  border-bottom: 1px solid #e5e5e1;
}

#forms .section::after, #btn .section::after, #typo .section::after {
  content: "";
  display: block;
  clear: both;
}

#forms .section header, #btn .section header, #typo .section header {
  font-size: 1.2em;
  color: #ff6e6e;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

#forms .section .detail, #btn .section .detail, #typo .section .detail {
  margin-top: 10px;
  line-height: 2em;
  vertical-align: top;
}

#forms .section figure, #btn .section figure, #typo .section figure {
  background: #333;
  margin: 0 auto;
}

#forms .section figure.light, #btn .section figure.light, #typo .section figure.light {
  background-color: transparent;
}

#forms .section figure figcaption, #btn .section figure figcaption, #typo .section figure figcaption {
  display: block;
  background: red;
}

#forms .section ul, #btn .section ul, #typo .section ul {
  padding: 0;
}

#forms .section ul li::before, #btn .section ul li::before, #typo .section ul li::before {
  content: '●';
  padding-right: 10px;
}

@media screen and (min-width: 480px) {
  .section figure {
    float: right;
    width: 45%;
    padding: 10px;
  }
  .section .detail {
    float: left;
    width: 50%;
    margin-top: 1px;
  }
}

#web_colors .ul_dot, #brand_colors .ul_dot {
  list-style: none;
  padding-left: 0;
}

#web_colors .ul_dot li::before, #brand_colors .ul_dot li::before {
  content: '●';
  padding-right: 10px;
}

.grid_swatch .ul_grid_flex {
  list-style: none;
  padding: 0;
}

.grid_swatch .ul_grid_flex li {
  padding: 10px;
}

.grid_swatch .ul_grid_flex li.swatch_1 {
  background: #ff5e00;
  border: 1px solid #ff5e00;
}

.grid_swatch .ul_grid_flex li.swatch_2 {
  background: #ff6e6e;
  border: 1px solid #ff6e6e;
}

.grid_swatch .ul_grid_flex li.swatch_3 {
  background: #333;
  border: 1px solid #333;
}

.grid_swatch .ul_grid_flex li.swatch_4 {
  background: #fff;
  border: 1px solid #ccc;
}

.grid_swatch .ul_grid_flex li.swatch_5 {
  background: #05beff;
  border: 1px solid #05beff;
}

.grid_swatch .ul_grid_flex li.swatch_6 {
  background: #37ffd2;
  border: 1px solid #37ffd2;
}

.grid_swatch .ul_grid_flex li.swatch_7 {
  background: #ff0050;
  border: 1px solid #ff0050;
}

.grid_swatch .ul_grid_flex li.swatch_8 {
  background: #dcff19;
  border: 1px solid #dcff19;
}

.grid_swatch .ul_grid_flex li.swatch_9 {
  background: #9b9b9b;
  border: 1px solid #9b9b9b;
}

.grid_swatch .ul_grid_flex li.swatch_10 {
  background: #000104;
  border: 1px solid #000104;
}

.grid_swatch .ul_grid_flex li .name_light {
  font-size: 0.8em;
  color: #fff;
}

.grid_swatch .ul_grid_flex li .name_dark {
  font-size: 0.8em;
  color: #333;
}

.grid_swatch .ul_grid_flex li .unit_light {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  padding-right: 10px;
  line-height: 20px;
}

.grid_swatch .ul_grid_flex li .unit_dark {
  font-size: 0.6em;
  color: rgba(74, 74, 74, 0.7);
  margin-left: auto;
  padding-right: 10px;
  line-height: 20px;
}

.swatch_1, .swatch_2, .swatch_3, .swatch_4, .swatch_5, .swatch_6, .swatch_7, .swatch_8, .swatch_9, .swatch_10 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .grid_swatch .ul_grid_flex li {
    margin: 10px 0;
  }
}

@media screen and (min-width: 480px) {
  .swatch_1, .swatch_2, .swatch_3, .swatch_4, .swatch_5, .swatch_6, .swatch_7, .swatch_8, .swatch_9, .swatch_10 {
    width: 110px;
    height: 150px;
    margin: 5px;
    display: inline-block;
  }
  .grid_swatch .ul_grid_flex {
    display: flex;
  }
  .grid_swatch .ul_grid_flex li {
    width: 110px;
    height: 150px;
  }
  .grid_swatch .ul_grid_flex li .name_light {
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 0.8em;
    color: #fff;
  }
  .grid_swatch .ul_grid_flex li .name_dark {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 0.8em;
    color: #333;
  }
  .grid_swatch .ul_grid_flex li .unit_light {
    position: relative;
    left: 15px;
    top: 70px;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.7);
  }
  .grid_swatch .ul_grid_flex li .unit_dark {
    position: relative;
    left: 15px;
    top: 70px;
    font-size: 0.6em;
    color: rgba(74, 74, 74, 0.7);
  }
}

#typo section:nth-of-type(2) ul {
  padding: 0;
}

#typo section:nth-of-type(2) ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e1;
  padding: 20px 0;
  white-space: nowrap;
}

#typo section:nth-of-type(2) ul li span:first-child {
  max-width: 65%;
}

#typo section:nth-of-type(2) ul li span + span {
  margin-left: auto;
  color: #999;
}

#typo section:nth-of-type(2) .w1 {
  font-size: 3em;
}

#typo section:nth-of-type(2) .w2 {
  font-size: 2.2em;
}

#typo section:nth-of-type(2) .w3 {
  font-size: 2em;
}

#typo section:nth-of-type(2) .w4 {
  font-size: 1.8em;
}

#typo section:nth-of-type(2) .w5 {
  font-size: 1.5em;
}

#typo section:nth-of-type(2) .w6 {
  font-size: 1em;
  font-weight: 700;
}

#typo section:nth-of-type(2) .w7 {
  font-size: 1em;
}

#spacing td {
  text-align: center;
}
