@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #666;
  padding: 20px;
}

#body_index {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.noscroll {
  overflow: hidden;
  max-height: 100%;
}

header {
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  color: #fff;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: "Lato";
  font-weight: 700;
  line-height: 80px;
  background: #ff5e00;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  header .title {
    padding-left: 30px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    visibility: hidden;
    background: linear-gradient(to bottom, white 10%, rgba(255, 94, 0, 0.9) 100%);
    opacity: 1;
    z-index: 9998;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .menu .nav_header {
    width: 100%;
    text-align: center;
    z-index: 10000;
  }
  .menu .nav_header img {
    width: 55%;
  }
  .menu nav {
    font-weight: 700;
    font-size: 1.2em;
  }
  .menu nav a {
    color: #fff;
    font-weight: 400;
  }
  .menu nav .nav_first {
    display: none;
  }
  .menu nav > ul {
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: space-around;
  }
  .menu nav li {
    line-height: 10vh;
  }
  .menu nav ul, .menu nav li {
    list-style: none;
    padding: 0;
  }
  .menu nav > ul > li {
    text-align: center;
  }
  .menu.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  #nav_icon {
    position: fixed;
    right: 8vw;
    top: 35px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav_icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 100px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav_icon span:nth-child(1) {
    top: 0px;
  }
  #nav_icon span:nth-child(2) {
    top: 5px;
    width: 80%;
  }
  #nav_icon span:nth-child(3) {
    top: 10px;
    width: 60%;
  }
  #nav_icon.open span {
    background: #ff5e00;
  }
  #nav_icon.open span:nth-child(1) {
    top: 8px;
    width: 100%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #nav_icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #nav_icon.open span:nth-child(3) {
    top: 8px;
    width: 100%;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@media screen and (min-width: 1025px) {
  header {
    text-align: center;
  }
  #nav_icon {
    display: none;
  }
  nav {
    border: 1px #eee solid;
    border-radius: 10px;
    top: 120px;
    left: calc(100%/2 - 650px);
    width: 160px;
    overflow: hidden;
    position: fixed;
    box-shadow: 1px 1px 1px 1px #eee;
    background: rgba(255, 255, 255, 0.9);
  }
  nav .nav_header {
    display: none;
  }
  nav ul, nav li {
    padding-left: 10px;
    list-style: none;
    color: #666;
    font-weight: 700;
    line-height: 32px;
  }
  nav a {
    text-decoration: none;
    color: #999;
    font-weight: 400;
    display: block;
  }
  nav a:hover {
    color: #ff5e00;
    font-weight: 700;
  }
  nav a.active {
    color: #ff5e00;
  }
  #intro, #brand, #web_colors, #typo, #btn, #forms {
    width: 780px;
    margin: 0 auto;
  }
  #container {
    margin: 0 auto;
  }
  #container main {
    padding: 0;
  }
}

#container iframe {
  width: 100%;
  margin-top: 80px;
  height: calc(100vh - 80px);
  border: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #ff5e00;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ff5e00;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff5e00;
}

h4 {
  font-size: 1.2em;
  color: #ff6e6e;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

p, ul {
  font-size: 1em;
  line-height: 2em;
}

a {
  text-decoration: none;
}

ul, li {
  padding-left: 10px;
}

section {
  margin-bottom: 50px;
}

article, .intro {
  display: none;
}

.intro {
  padding-top: 80px;
}

.show {
  display: block;
}

.img_bg {
  background: #333;
  display: block;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.img_bg img {
  max-width: 80%;
}

#brand .ul_flex {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
}

#brand .ul_flex li {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  color: #999;
  font-size: 0.8em;
}

#brand .ul_flex li .svg_logo_1 {
  width: 200px;
}

#brand .ul_flex li .svg_logo_2 {
  width: 250px;
}

#brand .ul_flex li .svg_logo_3 {
  width: 250px;
}

#brand .ul_flex .li_1 {
  border: 1px solid #ccc;
  padding: 20px;
}

#brand .ul_flex .li_2 {
  background: black;
  border: 1px solid #000;
  padding: 20px;
}

#brand figure {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

#brand figure figcaption {
  color: #999;
  font-size: 0.8em;
}

@media screen and (max-width: 480px) {
  #brand .ul_flex li {
    margin: 10px 0;
  }
  #brand .ul_flex li img {
    width: 60%;
  }
  #brand figure img {
    width: 100%;
  }
  .grid_swatch .ul_grid_flex li {
    margin: 10px 0;
  }
  .grid_swatch .ul_grid_flex li .unit_light, .grid_swatch .ul_grid_flex li .unit_right {
    margin-left: auto;
  }
  .swatch_1, .swatch_2, .swatch_3, .swatch_4, .swatch_5, .swatch_6, .swatch_7, .swatch_8, .swatch_9, .swatch_10 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 481px) {
  #brand .ul_flex li {
    width: 45%;
    margin: 0 10px;
  }
  #brand .ul_flex li img {
    width: 60%;
  }
  #brand figure img {
    width: 80%;
  }
}

#forms ol, #forms ul, #forms li, #btn ol, #btn ul, #btn li, #typo ol, #typo ul, #typo li {
  padding-left: 10px;
}

#forms ol > li, #btn ol > li, #typo ol > li {
  font-weight: 700;
  line-height: 1em;
  padding-top: 15px;
  color: #333;
}

#forms ol > li p, #btn ol > li p, #typo ol > li p {
  color: #666;
  font-weight: 400;
  margin-top: 10px;
}

#forms ul, #btn ul, #typo ul {
  list-style-type: none;
}

#forms .section, #btn .section, #typo .section {
  border-bottom: 1px solid #e5e5e1;
}

#forms .section::after, #btn .section::after, #typo .section::after {
  content: "";
  display: block;
  clear: both;
}

#forms .section .detail, #btn .section .detail, #typo .section .detail {
  margin-top: 10px;
  line-height: 2em;
  vertical-align: top;
}

#forms .section figure, #btn .section figure, #typo .section figure {
  background: #333;
  margin: 0 auto;
}

#forms .section figure.light, #btn .section figure.light, #typo .section figure.light {
  background-color: transparent;
}

#forms .section figure figcaption, #btn .section figure figcaption, #typo .section figure figcaption {
  display: block;
  background: red;
}

#forms .section ul, #btn .section ul, #typo .section ul {
  padding: 0;
  margin-top: 0 0 20px 0;
}

#forms .section ul li::before, #btn .section ul li::before, #typo .section ul li::before {
  content: '●';
  padding-right: 10px;
}

@media screen and (min-width: 481px) {
  .swatch_1, .swatch_2, .swatch_3, .swatch_4, .swatch_5, .swatch_6, .swatch_7, .swatch_8, .swatch_9, .swatch_10 {
    width: 110px;
    height: 150px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .grid_swatch .ul_grid_flex {
    display: flex;
  }
  .grid_swatch .ul_grid_flex li {
    width: 110px;
    height: 150px;
  }
  .grid_swatch .ul_grid_flex li .name_light {
    top: 10px;
    font-size: 0.8em;
    color: #fff;
  }
  .grid_swatch .ul_grid_flex li .name_dark {
    top: 10px;
    font-size: 0.8em;
    color: #333;
  }
  .grid_swatch .ul_grid_flex li .unit_light {
    top: 70px;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0;
  }
  .grid_swatch .ul_grid_flex li .unit_dark {
    top: 70px;
    font-size: 0.6em;
    color: rgba(74, 74, 74, 0.7);
  }
  .section figure {
    float: right;
    width: 45%;
    padding: 10px;
  }
  .section .detail {
    float: left;
    width: 50%;
    margin-top: 1px;
  }
}

#web_colors .ul_dot, #brand_colors .ul_dot {
  list-style: none;
  padding-left: 0;
}

#web_colors .ul_dot li::before, #brand_colors .ul_dot li::before {
  content: '●';
  padding-right: 10px;
}

.grid_swatch .ul_grid_flex {
  list-style: none;
  padding: 0;
}

.grid_swatch .ul_grid_flex li {
  padding: 10px;
}

.grid_swatch .ul_grid_flex li.swatch_1 {
  background: #ff5e00;
  border: 1px solid #ff5e00;
}

.grid_swatch .ul_grid_flex li.swatch_2 {
  background: #ff6e6e;
  border: 1px solid #ff6e6e;
}

.grid_swatch .ul_grid_flex li.swatch_3 {
  background: #333;
  border: 1px solid #333;
}

.grid_swatch .ul_grid_flex li.swatch_4 {
  background: #fff;
  border: 1px solid #ccc;
}

.grid_swatch .ul_grid_flex li.swatch_5 {
  background: #05beff;
  border: 1px solid #05beff;
}

.grid_swatch .ul_grid_flex li.swatch_6 {
  background: #37ffd2;
  border: 1px solid #37ffd2;
}

.grid_swatch .ul_grid_flex li.swatch_7 {
  background: #ff0050;
  border: 1px solid #ff0050;
}

.grid_swatch .ul_grid_flex li.swatch_8 {
  background: #dcff19;
  border: 1px solid #dcff19;
}

.grid_swatch .ul_grid_flex li.swatch_9 {
  background: #9b9b9b;
  border: 1px solid #9b9b9b;
}

.grid_swatch .ul_grid_flex li.swatch_10 {
  background: #000104;
  border: 1px solid #000104;
}

.grid_swatch .ul_grid_flex li .name_light {
  font-size: 0.8em;
  color: #fff;
}

.grid_swatch .ul_grid_flex li .name_dark {
  font-size: 0.8em;
  color: #333;
}

.grid_swatch .ul_grid_flex li .unit_light {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 20px;
}

.grid_swatch .ul_grid_flex li .unit_dark {
  font-size: 0.6em;
  color: rgba(74, 74, 74, 0.7);
  line-height: 20px;
}

#typo section:nth-of-type(2) ul {
  padding: 0;
}

#typo section:nth-of-type(2) ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e1;
  padding: 20px 0;
  white-space: nowrap;
}

#typo section:nth-of-type(2) ul li span:first-child {
  max-width: 65%;
}

#typo section:nth-of-type(2) ul li span + span {
  margin-left: auto;
  color: #999;
}

#typo section:nth-of-type(2) .w1 {
  font-size: 3em;
}

#typo section:nth-of-type(2) .w2 {
  font-size: 2.2em;
}

#typo section:nth-of-type(2) .w3 {
  font-size: 2em;
}

#typo section:nth-of-type(2) .w4 {
  font-size: 1.8em;
}

#typo section:nth-of-type(2) .w5 {
  font-size: 1.5em;
}

#typo section:nth-of-type(2) .w6 {
  font-size: 1em;
  font-weight: 700;
}

#typo section:nth-of-type(2) .w7 {
  font-size: 1em;
}
